*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth; /* ini agar scrool ya smoot */ 
}

ul {
    display:  flex;
    gap: 10px;
    background-color: #222222;
    justify-content: center;
    align-items: center;

}

li {
    list-style-type: none;
    padding: 12px;
    display: flex;
   

}

li > a {
    color: lawngreen;
    text-decoration: none;

}

li > a:hover {
   color: white;
   transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
}

.container {
    width: 500px;
    margin: 0 auto;
    color : black;
}

.wrapper {
  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 325px;
    min-height: 100vh;
   
}
.content{
    margin: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    
}

button{
    border: none;
    background-color: lawngreen;
    font-size: 24px;
    padding: 8px;
    border-radius: 20px;
    margin-left: 10px;
    height: 65px;
    color: #22222;
    margin-top: 10px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

button:hover{
    cursor: pointer;
    background-color: lightblue;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

input {
    border: 0;
   background-color: lawngreen;
    color: #222222;
    padding: 20px;
    font-size: 24px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: l;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#pertayaan {
    font-size: 1.6em;
    font-weight: 500;
}

#loaders{
    display: none;
    width: 85px;
    height: 85px;
    position: absolute;
    border-top: 15px solid white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 9;
    animation: 1s spin infinite linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: 1s spin infinite linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

.aboutContainer {
 width: 100%;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: lawngreen;

}

.aboutWrapper {
    display: flex;
    background-color: red;
    gap: 20px; /* ini sepasi */
}